<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista 1</title>
</head>
<body>      
        <div>
                <a>Enlace 1</a>
                <a>Enlace 2</a>
                <a>Enlace 3</a>
        </div>
        <div>

            <h2>Esta es la pag de prueba</h2>

        </div>
        {% block contenido%}
    {% comment %} aca se inserta el contenido por ejemplo de hola o hastaluego {% endcomment %}
        {% endblock %}
</body>
</html>